


.spot-details {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;
  transition: all 0.3s ease;
}

.spot-header {
  background: linear-gradient(90deg, rgba(128, 100, 162, 0.5), rgba(147, 112, 219, 0.5));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 30px;
  transition: all 0.3s ease;
}

.spot-images-grid {
  display: flex;
  justify-content: space-between;

  gap: 15px;
  border:solid;
  border-width: 10px;
  border-radius: 15px;
  border-color:blue;

  overflow: hidden;
  box-shadow: 0 8px 32px rgba(128, 100, 162, 0.5);
  transition: all 0.3s ease;
  width: 600px;
  height: 400px;
}

.spot-info-container {
  display: flex;
  justify-content: space-around;
  margin: 30px 100px;
  padding: 25px;
  background: rgba(147, 112, 219, 0.5);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(128, 100, 162, 0.5);
  transition: all 0.3s ease;
}
.main-image{
  width:100px;
  height:300px;
  border-width: 10px;
  border-color: green;
  border:solid

}

.mainPreviewImage {
  width: auto;
  height: 400px;
  object-fit: cover;

}

.small-images{
  display:grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  border-width: 5px;
  border-color: yellow;
  border:solid

}
.thumb-nail{
  
}



.callout-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.3s ease;
}

.price-line {
  font-size: 24px;
  font-weight: bold;
  color: rgba(128, 100, 162, 0.8);
  transition: all 0.3s ease;
}

.rating-line {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: rgba(128, 100, 162, 0.8);
  transition: all 0.3s ease;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgba(128, 100, 162, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgba(147, 112, 219, 0.5);
}
