.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;


}

.logo {
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 8px rgba(128, 104, 164, 0.616));
}


#faded {
    width: 75px; /* Adjust this value as needed */
    height: auto; /* This maintains aspect ratio */
    object-fit: contain; /* Ensures image scales uniformly */
}
